#foto {
width: 60%;
} 

#teste {
display: inline-block;
font-size: large;
vertical-align: top;
margin-top: unset;
}

#paragrafo {
    background-color: rgb(168, 119, 214);
}

h1{
    color: #0072bb;
}

#novoimage{
    width: 1500px;
    height: 400px;